Options +FollowSymLinks
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^home$ home.php 
RewriteRule ^auth$ AuthController.php 
RewriteRule ^product/([0-9a-zA-z-]+)/$ detalles.php?slug=$1