body{
    background-color: rgb(225, 215, 215);
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
input{
    margin-right: 10px;
}

li{
    font-size: 20px;
}

#registrar{
    display: block;
    padding: 0.5rem 1rem;
    margin: 0 auto;
}

table, th, td{
    border: 1px solid black;
}