body{
    background-color: rgb(225, 215, 215);
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
input{
    margin-right: 10px;
}

li{
    font-size: 20px;
}

#registrar{
    display: block;
    padding: 0.5rem 1rem;
    margin: 0 auto;
}

table, th, td{
    border: 1px solid black;
}

.formulario{
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.formulario button{
    width: 150px;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
}

.formulario input{
    width: 500px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}