<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilo.css">
    <title>Inicio sesion</title>
</head>
<body>
    <div id="home">
        <H1>
            Inicio sesion
        </H1>

        <form @submit.prevent="login">
            <fieldset v-if= "!logeado">
                <label for="">
                    Correo: 
                </label>
                <input type="email" v-model="correo" name="" id="">
                <br>
                <label for="">
                    Contraseña: 
                </label>
                <input type="password" v-model="contraseña" name="" id="">
                <br>
                <button id="Verificar" type="submit">
                    Verificar
                </button>
            </fieldset>

            <h1>
                <table id="tabla_Empleados" v-if="logeado && !editar && !add">
                    <tr>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Nombre de la empresa</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                    <tr v-for="empleado in empleados">
                        <td>{{ empleado.name }}</td>
                        <td>{{ empleado.email }}</td>
                        <td>{{ empleado.company.name }}</td>
                        <td> <button @click="Editar(empleado.email)"> Editar </button></td>
                        <td> <button @click="Eliminar(empleado.email)"> Eliminar </button></td>
                    </tr>
                    <button id="añadir" type="button" @click="add_Empleado()">
                        Añadir empleado
                    </button>
                </table>
            </h1>            
        </form>

        <div class="formulario" id="formulario_Edicion">
            <form v-if= "editar" class="form_Editar">
                <fieldset>
                    <label for="">
                        Nombre
                    </label>
                    <br>
                    <input type="text" v-model="datos_Personales" name="" id="">
                    <br>
                    <label for="">
                        Correo: 
                    </label>
                    <br>
                    <input type="text" v-model="info_Contacto" name="" id="">
                    <br>
                    <label for="">
                        Nombre de la empresa: 
                    </label>
                    <br>
                    <input type="text" v-model="info_Empresa" name="" id="">
                    <br>
                    <button id="cancelar" type="button" @click="cancelar_Edicion()">
                        Cancelar
                    </button>
                    <button id="confirmar" type="button" @click="conf_Edicion(nombre_Original)">
                        Confirmar
                    </button>
                </fieldset>
            </form>
        </div>

        <div class="formulario" id="formulario_Añadir">
            <form v-if= "add" class="form_Añadir" @submit.prevent="conf_Add()">
                <fieldset>
                    <label for="">
                        Nombre: 
                    </label>
                    <br>
                    <input type="text" v-model="nombre_Add" name="" id="">
                    <br>
                    <label for="">
                        Correo: 
                    </label>
                    <br>
                    <input type="text" v-model="correo_Add" name="" id="">
                    <br>
                    <label for="">
                        Nombre de la empresa: 
                    </label>
                    <br>
                    <input type="text" v-model="empresa_Add" name="" id="">
                    <br>
                    <button id="cancelar" type="button" @click="cancelar_Add()">
                        Cancelar
                    </button>
                    <button id="confirmar" type="submit">
                        Confirmar
                    </button>
                </fieldset>
            </form>
        </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
    const { createApp, ref } = Vue
    createApp({
        setup() {
        const correo = ref('')
        const contraseña = ref('')
        let logeado = ref(false)
        let editar = ref(false)
        let add = ref(false)
        let nombre_Original = ref('')
        let correo_Add = ref('')
        let nombre_Add = ref('')
        let empresa_Add = ref('')
        let datos_Personales_Nuevos = ref([])
        let info_Empresa_Nuevo = ref([])
        let info_Contacto_Nuevo = ref([])
        const empleados = ref([])
        const datos_Personales = ref('')
        const info_Contacto = ref('')
        const info_Empresa = ref('')
        
        return {
            correo, 
            contraseña,
            logeado,
            empleados,
            editar,
            datos_Personales,
            info_Contacto,
            info_Empresa,
            nombre_Original,
            datos_Personales_Nuevos,
            info_Contacto_Nuevo,
            info_Empresa_Nuevo,
            add,
            nombre_Add,
            correo_Add,
            empresa_Add
        }
        },
        methods: {
            login(){
                fetch("usuarios.json")
                .then(res => res.json())
                .then(res => {
                    res.forEach(element => {
                        if(element.email == this.correo && element.password == this.contraseña){
                            this.logeado = true;
                            localStorage.setItem("datos", JSON.stringify(element));
                        }
                    });
                    if(!this.logeado){
                        alert("Error")
                    }
                })
            },
            Eliminar(email){
                this.empleados.forEach(empleado => {
                    if(empleado.email == email){
                        this.empleados.splice(empleado,1)
                    }
                });
            },
            Editar(email){
                this.editar = true;
                this.empleados.forEach(empleado => {
                    if(empleado.email == email){
                        this.datos_Personales = `${empleado.name}`
                        this.nombre_Original = empleado.name
                        this.info_Contacto = `${empleado.email}`
                        this.info_Empresa = `${empleado.company.name}`
                    }
                });
            },
            conf_Edicion(nombre_Original){
                this.datos_Personales_Nuevos = this.datos_Personales.split(",")
                this.info_Contacto_Nuevo = this.info_Contacto.split(",")
                this.info_Empresa_Nuevo = this.info_Empresa.split(",")
                this.empleados.map(empleado => {
                    if(empleado.name == nombre_Original){
                        empleado.name = this.datos_Personales_Nuevos[0]
                        empleado.username = this.datos_Personales_Nuevos[1]
                        empleado.email = this.info_Contacto_Nuevo[0]
                        empleado.phone = this.info_Contacto_Nuevo[1]
                        empleado.company.name = this.info_Empresa_Nuevo[0]
                        empleado.company.catchPhrase = this.info_Empresa_Nuevo[1]
                        empleado.company.bs = this.info_Empresa_Nuevo[2]
                    }
                    this.editar = false;
                });
            },
            cancelar_Edicion(){
                this.editar = false;
            },
            add_Empleado(){
                this.add = true;
                console.log(this.add)
            },
            conf_Add(){
                let obj_Tmp = {
                    "name": this.nombre_Add,
                    "email": this.correo_Add,
                    "company":{
                        "name": this.empresa_Add
                    }
                }
                this.empleados.push(obj_Tmp)
                this.add = false;
            },
            cancelar_Add(){
                this.add = false;
            },
    },
    mounted() { 
            fetch("usuarios.json")
            .then(res => res.json())
            .then(res => {
                this.empleados = res;
            })
		    let datos = localStorage.getItem("datos");
		    if (datos != null) {
		    	datos = JSON.parse(datos) 
                this.logeado = true;
		    }
		}
    }).mount('#home')
    </script>
</body>
</html>