@main_color: rgb(249, 217, 217);
@font_color: #3364ff;

/*#colores(){

}*/

.plantilla(@i) when (@i > 0){
    li:nth-child(@{i}) {
        background-color: yellow;
        border: 2px double green;
    }
    .plantilla(@i - 1);
}

.container{
    background-color: @main_color;
    width: 60%;
    margin: auto;
    color: @font_color;

    ul{
        .plantilla(5); 
    }
}